<section class="hiking__section--image-left hiking__section section" role="region">
	<div class="container">
		<div class="hiking__content--holder">
			<div class="hiking__content">
				<header class="hiking__header">
					<h3 class="hiking__subtitle">Hiking Essentials</h3>
					<h2 class="hiking__title" id="hiking-heading">Picking the right Hiking Gear!</h2>
				</header>
				<p class="hiking__description">
					The nice thing about beginning hiking is that you don’t really need any special gear, you
					can probably get away with things you already have. Let’s start with clothing. A typical
					mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy
					and chafe wif they get sweaty or wet.
				</p>
				<footer class="hiking__footer">
					<a href="#" class="hiking__link accent"
						>Read more
						<svg class="hiking__arrow">
							<use xlink:href="pic/sprite.svg#arrow"></use>
						</svg>
					</a>
				</footer>
			</div>
			<figure class="hiking__image--wrapper">
				<img
					src="images/about-2.jpg"
					alt="Hiker exploring a mountain trail"
					class="hiking__image"
				/>
			</figure>
		</div>
	</div>
</section>
