<ul class="footer__list" role="list">
	<li class="footer__item">
		<ul class="footer__list--inner" role="list">
			<li class="footer__item--inner" role="listitem">More on The Blog</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">About MNTN</a>
			</li>
			<li class="footer__item--inner role="listitem">
				<a href="#" class="footer__link" role="link">Contributors & Writers</a>
			</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">Write For Us</a>
			</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">Contact Us</a>
			</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">Privacy Policy</a>
			</li>
		</ul>
	</li>
	<li class="footer__item" role="listitem">
		<ul class="footer__list--inner" role="list">
			<li class="footer__item--inner" role="listitem">More on MNTN</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">The Team</a>
			</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">Jobs</a>
			</li>
			<li class="footer__item--inner" role="listitem">
				<a href="#" class="footer__link" role="link">Press</a>
			</li>
		</ul>
	</li>
</ul>
