<nav class="navigation navigation__header" role="navigation">
	<ul class="navigation__header--list" role="list">
		<li class="navigation__header--item" role="listitem">
			<a href="#" class="navigation__header--link" role="link">Equipment</a>
		</li>
		<li class="navigation__header--item" role="listitem">
			<a href="#" class="navigation__header--link" role="link">About us</a>
		</li>
		<li class="navigation__header--item" role="listitem">
			<a href="#" class="navigation__header--link" role="link">Blog</a>
		</li>
	</ul>
</nav>
